* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

 img {
   width: 100%;
 }

 ul {
   padding: 0;
   margin: 0;
   list-style: none;
 }

 ul:first-child {
   margin-top: 20px;
 }

 .container {
   max-width: 960px;
   margin: 0 auto;
}

.timeline-event {
}

.event-info,
.event-detail {
  position: relative;
  vertical-align: top;
  display: inline-block;
}

.event-info {
  width: 200px;
  padding-right: 38px;
  text-align: right;
}

.event-date {
  font-size: 12px;
  color: #CED1DA;
  font-weight: 200;
}

.event-timestamp {
  font-size: 36px;
  color: #82BFE9;
  font-weight: 100;
}

.event-detail {
  border-left: 10px solid #B9DCF4;
  width: 600px;
}

.event-card {
  position: relative;
  padding: 45px 40px;
  margin-left: 52px;
  margin-bottom: 20px;
  background-color: #82BFE9;
  color: #ffffff;
  border-radius: 5px;
}

.event-card::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 10px;
  left: -16px;
  border: 8px solid transparent;
  border-right-color: #82BFE9;
}

.event-icon {
  color: #ffffff;
  position: absolute;
  top: -8px;
  right: -36px;
  z-index: 1000;
  background-color: #61A5D4;
  font-size: 22px;
  width: 56px;
  height: 56px;
  border: 8px solid #B9DCF4;
  border-radius: 50%;
}

.event-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
