* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2, h3,
h4, h5, h6, p {
  margin: 0;
}

h3 {
  font-size: 22px;
}

 img {
   width: 100%;
 }

 ul {
   padding: 0;
   margin: 0;
   list-style: none;
 }

 ul:first-child {
   margin-top: 20px;
 }

 .container {
   max-width: 1150px;
   margin: 0 auto;
   padding: 0 20px;
}

.event-info,
.event-detail {
  position: relative;
  vertical-align: top;
  display: inline-block;
}

.event-info {
  width: 25%;
  padding-right: 38px;
  text-align: right;
}

.event-date {
  font-size: 12px;
  color: #CED1DA;
  font-weight: 400;
  transition: all 200ms ease-in-out;
}

.event-timestamp {
  font-size: 36px;
  color: #82BFE9;
  font-weight: 400;
  transition: all 200ms ease-in-out;
}

.event-detail {
  border-left: 10px solid #B9DCF4;
  width: 74%;
  transition: border-left 200ms ease-in-out;
}

.event-detail h3 {
  border-bottom: 1px solid #B1D8F0;
  padding-bottom: 6px;
}

.event-detail p {
  margin-top: 10px;
}

.event-card {
  position: relative;
  padding: 45px 40px 67px;
  margin-left: 52px;
  margin-bottom: 15px;
  background-color: #82BFE9;
  color: #ffffff;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.event-card::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 10px;
  left: -16px;
  border: 8px solid transparent;
  border-right-color: #82BFE9;
  transition: all 200ms ease-in-out;
}

.timeline-event:nth-child(even) .event-card {
  background-color: #5395C5;
}
.timeline-event:nth-child(even) .event-card::before {
  border-right-color: #5395C5;
}

.timeline-event:last-child .event-detail {
  border-color: white;
}

/* hover effects */

.timeline-event:hover .event-timestamp {
  color: #4482af;
}

.timeline-event:hover .event-date {
  color: #252525;
}

.timeline-event:hover .event-card {
  background-color: #4482af;
}

.timeline-event:hover .event-detail,
.timeline-event:hover .event-icon {
  border-color: #4482af;
}

.timeline-event:last-child:hover .event-detail {
  border-color: #ffffff;
}

.timeline-event:hover .event-card::before {
   border-right-color: #4482af;
}

/* icon container and icon */
.event-icon {
  color: #ffffff;
  position: absolute;
  top: -8px;
  right: -36px;
  z-index: 1000;
  background-color: #61A5D4;
  font-size: 22px;
  width: 56px;
  height: 56px;
  border: 8px solid #B9DCF4;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.event-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 650px){

  .container {
    padding: 0 10px;
  }

  .event-info,
  .event-detail  {
    display: block;
    width: 100%;
  }

  .event-info {
    text-align: left;
    padding-right: 0;
    margin-top: 20px;
    padding-bottom: 10px;
  }

  .event-date {
    font-size: 14px;
  }

  .event-icon {
    position: relative;
    float: right;
    top: 10px;
    right: 0px;
  }

  .event-detail {
    border: none;
    width: 100%;
  }

  .event-card {
    margin: 0 auto;
    padding: 15px 4% 25px
  }

  .event-card::before {
    top: -16px;
    left: 12px;
    border: 8px solid transparent;
    border-left-color: transparent;
    border-bottom-color: #82BFE9;
  }

  .timeline-event:nth-child(even) .event-card::before {
    border-bottom-color: #5395C5;
    border-right-color: transparent;
  }

  .timeline-event:hover .event-card::before {
     border-right-color: transparent;
     border-bottom-color: #4482af;
  }

}
